html {
	font-size: 62.5%;
	font-family: 'Nanum Gothic', 'Quicksand', 'Merriweather', sans-serif;
}

a {
	text-decoration: none;
	color: #2e2d2d;
	cursor: pointer;
}

/*-------- resuseable ---- */
button {
	font-size: 1.6rem;
	background: #33bfe0;
	color: #fff;
	padding: 1.2rem 2.6rem;
	border-radius: 5px;
	cursor: pointer;
}


/*--------------------------*/


/*--------- header----------*/

header img{
	display: block;
	margin: 5vh auto 4vh;
	width: 50%;
}
.header-nav {
	width: 80%;
	margin: 0 auto;
	font-size: 1.5rem;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
/*----------------------------*/