/*---------------------------------------
-----------0 〜 659px--------------
-----------------------------------------*/

/* ----------header-----------*/
.newsHeader {
	background-image: linear-gradient(rgba(255, 255, 255, 0.04), rgba(199, 196, 196, 0.61)), url("../resources/img/news-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
	color: #484848;
}
.newsHeader h1 {
	text-align: center;
	margin-top: 8vh;
	font-size: 5rem;
	font-weight: 300;
	font-family: 'Merriweather';
}

/*------------main------------*/


/*---------------------------------------
-----------560px〜959px--------------
-----------------------------------------*/
.newsHeader h1 {
}


/*------------------------------------
------------960px以上~-----------
--------------------------------------*/