/* iPhone and ipad: 0 to 600px */
@media only screen and (min-width: 600px) {
	html { font-size: 90%;}
	header { display:flex;}

	/*---------- header ------*/
	.index { background-size: cover;}
	.header-nav {
		width:80vw;
		margin: 8vh 5vw 8vh 0;
		display: flex;
		justify-content: flex-end;
		font-size: 1.4rem;
		list-style: none;
	}
	.header-nav li { margin-right: 4vh; }
	.indexMain-copy { font-size: 1.1rem;
	letter-spacing: -0.8px}
	.br { display: none }