



/*---------------------------------------
-----------560px〜959px--------------
-----------------------------------------*/
@media screen and (min-width: 560px) {
	html { font-size: 90%; }
	header { display:flex; }
	/*---------- header ------*/
	.header-nav {
		width:80vw;
		margin: 7vh 5vw 8vh 0;
		display: flex;
		justify-content: flex-end;
		font-size: 1.2rem;
		list-style: none; }
	.header-nav li { margin-right: 4vh; }

/*------------------------------------
------------960px以上~-----------
--------------------------------------*/
@media screen and ( min-width: 960px) {
	html { font-size: 100%; }
}